[submodule "themes/hugolumens"]
	path = themes/hugolumens
	url = git@github.com:MAHcodes/hugolumens
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
