:root {
  --vmax: max(100vw, 100vh);
  --transition-duration: 150ms;
  --transition-timing-function: ease-out;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: 0 0% 95%;
    --bg2: 0 0% 100%;
    --bg3: 0 0% 90%;
    --border: 0 0% 85%;
    --fg: 0 0% 15%;
    --solid: 0 0% 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: 0 0% 15%;
    --bg2: 0 0% 25%;
    --bg3: 0 0% 35%;
    --border: 0 0% 35%;
    --fg: 0 0% 95%;
    --solid: 0 0% 0%;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*::selection {
  background-color: hsl(var(--fg));
  color: hsl(var(--bg));
}

body {
  background-color: hsl(var(--bg));
  color: hsl(var(--fg));
  font-family: "Poppins", serif;
}

.container {
  max-width: 625px;
  margin-inline: auto;
  padding: 0 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  inset: 0 0 auto 0;
  padding-block: .5rem;
  background-color: hsl(var(--bg));
}

header a {
  color: hsl(var(--fg));
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--vmax);
  padding: 0.45rem .9rem;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

header a:active,
header a:focus,
header a:hover,
ul.posts .posts__title:active span,
ul.posts li .posts__category:active {
  background-color: hsl(var(--fg));
  border-color: hsl(var(--fg));
  color: hsl(var(--bg));
  outline: none;
}

ul.posts .posts__title:active span,
ul.posts li .posts__category:active,
header a:active {
  border-color: transparent;
  transform: scale(0.95);
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2px;
  text-transform: uppercase;
  font-size: .85rem;
}

.header__branding {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0;
}

.header__branding img {
  padding-inline-start: 0.45rem;
}

.header__branding span {
  padding-block: .45rem;
  padding-inline-end: .9rem;
}

.header__cta,
.header__branding {
  background-color: hsl(var(--bg));
}

.header__cta a {
  display: flex;
  align-items: center;
  gap: .3rem;
}

/* TODO: fix wrapping lines for long titles */
.pill {
  background-color: hsl(var(--bg2));
  border-radius: var(--vmax);
  border: 1px solid hsl(var(--border));
  padding: 3px;
  box-shadow: 0 0 0.5rem -0.25 hsla(var(--solid) / 0.75);
}

.header__branding img {
  width: 1.5rem;
  height: 1.5rem;
}

ul.posts {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  gap: 0.5rem;
  margin-inline: -0.9rem;
}

ul.posts li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.posts .posts__title {
  flex: 1;
}

ul.posts li:hover::before {
  background-color: hsl(var(--fg));
}

ul.posts li::before {
  content: "";
  position: absolute;
  height: 1px;
  inset: auto 1rem auto 1rem;
  background-color: hsl(var(--border));
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

ul.posts li a {
  text-decoration: none;
}

ul.posts .posts__title span {
  display: inline-block;
}

ul.posts .posts__title span,
ul.posts li .posts__category {
  position: relative;
  background-color: hsl(var(--bg));
  color: hsl(var(--fg));
  padding: 0.45rem .9rem;
  border-radius: var(--vmax);
  border: 1px solid transparent;
  transition: border-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
}

ul.posts li a:focus {
  outline: none;
}

ul.posts .posts__title:hover span,
ul.posts li .posts__category:hover {
  border-color: hsl(var(--fg));
}
